.contenido{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    justify-content: space-around;
    // flex-grow: 1;
    // display: inline-flex;
    // atajo para que sea row o column y wrap y no-wrap
    // flex-flow: row wrap;
    // acomodarlo en eje y o secundario
    // align-items: center;
    // se aplica a las lineas en el eje y
    // align-content:space-around;
    // https://desarrolloweb.com/articulos/propiedades-item-flexbox.html
    // flex-grow, flex-shrink y flex-basis
}

.margen{
    display: block;
    align-self: center;
    text-align: center;
    margin: 20px auto;
}

boton{
    width: 50%;
}

.card{
    background-color: whitesmoke;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    // align-content: center;
    box-shadow: 4px 6px 5px black;
    &:hover{
        cursor: pointer;
        box-shadow: 6px 8px 7px black;
        letter-spacing: 1px;
        // border: 2px solid #000;
    }
}

img{
    align-content: center;
    margin: auto 0;
    border-radius: 15px;
    width: 100%;
}

.botonVivo{
    margin: auto;
    display: block;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    color: #73AD21;
    border: 3px solid #73AD21;
    text-align: center;
    text-decoration: none;
    &:hover{
        color: #fff;
        background-color: #73AD21;
    }
}


.botonDesconocido{
    margin: auto;
    display: block;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    color: #ad2121;
    border: 3px solid #ad2121;
    text-align: center;
    text-decoration: none;
    &:hover{
        color: #fff;
        background-color: #ad2121;
    }
}

.botonMuerto{
    margin: auto;
    display: block;
    border-radius: 15px;
    padding: 15px;
    background-color: #fff;
    color: #2152ad;
    border: 3px solid #2152ad;
    text-align: center;
    text-decoration: none;
    &:hover{
        color: #fff;
        background-color: #2152ad;
    }
}


.arriba{
    // height: 20px;
    // width: 20px;
    display: block;
    opacity: 0.6;
    padding: 13px;
    border: none;
    background-color: #cecece;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
    &:hover{
        cursor: pointer;
    }
}

.no-data{
    padding: 10px;
    background-color: rgba(200, 10, 10, 0.5);
}

.masScroll{
    height: 100vh;
    background-color: red;
}

@media screen and (max-width: 300px){
    .contenido{
        flex-direction: column;
    }
    .card{
        margin: 10px 20px;
        width: 100%;
    }

}


// .button1 {
//     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
//   }
  
//   .button2:hover {
//     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
//   }

// .button {
//     display: inline-block;
//     border-radius: 4px;
//     background-color: #f4511e;
//     border: none;
//     color: #FFFFFF;
//     text-align: center;
//     font-size: 28px;
//     padding: 20px;
//     width: 200px;
//     transition: all 0.5s;
//     cursor: pointer;
//     margin: 5px;
//   }
  
//   .button span {
//     cursor: pointer;
//     display: inline-block;
//     position: relative;
//     transition: 0.5s;
//   }
  
//   .button span:after {
//     content: '\00bb';
//     position: absolute;
//     opacity: 0;
//     top: 0;
//     right: -20px;
//     transition: 0.5s;
//   }
  
//   .button:hover span {
//     padding-right: 25px;
//   }
  
//   .button:hover span:after {
//     opacity: 1;
//     right: 0;
//   }