.card-details{
    margin: 20px auto 0;
    width: 300px;
    box-shadow: 4px 6px 5px black;
    border-radius: 15px;
    &:hover{
        cursor: pointer;
        box-shadow: 6px 8px 7px black;
        letter-spacing: 1px;
        border: 2px solid #000;
    }
}

.card-details  app-personaje{
    // width: 30%;
    margin-top: 30px;
    align-self: center;
    align-content: center;
    margin: 40px auto;
}


.card{
    background-color: whitesmoke;
    margin: 10px auto;
    margin-bottom: 20px;
    border-radius: 15px;
    // align-content: center;
    box-shadow: 4px 6px 5px black;
    &:hover{
        cursor: pointer;
        box-shadow: 6px 8px 7px black;
        letter-spacing: 1px;
        border: 2px solid #000;
    }
}

.button{
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    margin: 40px;
    float: right;
    display: block;
    border: 2px solid #000;
    text-transform: capitalize;
    // background-color: red;
    &:hover{
        cursor: pointer;
        // box-shadow: 2px 1px rgba(0, 0, 0, 0.5);
        background-color: #000;
        color: white;
    }
}

hr{
    display: block;
    width: 100%;
    // transform:rotate(90deg);
}

@media screen and (max-width: 300px){
    .contenido{
        flex-direction: column;
    }
    .card{
        margin: 10px 20px;
        width: 100%;
    }

}